body { font-family: AvantGarde,Helvetica,Arial }
tt, code { font-family: Courier,serif; font-weight: 600}

h1 { font-size: 24pt}
h2 { font-size: 18pt}
h3, tr { font-size: 14pt}
body, td, p, tt, code { font-size: 12pt }


body { background-color: moccasin; }

h2, h3, h4 { 
	border-stlye: ridge; 
	border-width: 1pt;
	padding: 1pt;
	text-shadow: silver;
	}

a { 
	text-decoration: none; 
	color: teal; 
	font-weight: bold;
	}

hr { color: teal; size: 5pt;}

th { background-color: silver }
td { background-color: lightgrey }
