<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>PSE 4</title>
  </head>
  <link rel=stylesheet type="text/css" href="style.css">

  <body>
    <a href="./index.html">Homepage</a>
    <hr>

    <h1>PSE 4 HTML Template</h1>



    <hr>
    <address><a href="./index.html">PSE 4</a></address>
<!-- Created: Fri Mar 31 13:38:33 MET DST 2000 -->
<!-- hhmts start -->
Last modified: Sun Apr  2 20:41:44 CEST 2000
<!-- hhmts end -->
    <small>| $Id: templ.html,v 1.2 2000/04/02 19:35:33 locher Exp $</small>
  </body>
</html>
