<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <head>
    <title>PSE 4</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <a href="./index.html">Homepage</a> 
    <hr>

    <h1>PSE 4 HTML Template</h1>
    <hr>

    <address>
      <a href="./index.html">PSE 4</a>
    </address>
    <!-- Created: Fri Mar 31 13:38:33 MET DST 2000 -->
    <!-- hhmts start -->Last modified: Tue Apr 4 08:44:01 MET DST 2000 
    <!-- hhmts end --> <small>| $Id: templ.html,v 1.5 2000/04/27 08:38:24 locher Exp $</small>
  </body>
</html>

